

:root {
  --btn-outline-focus: #efe8e8;
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --form-bg: #fafaf9;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #fdfdfd;
  --accent-bg: rgb(250, 159, 61);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  scroll-behavior: smooth;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --btn-outline-focus: #dfd5d571;
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --form-bg: #1f1f25;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #fdfdfd;
    --accent-bg: rgb(250, 159, 61);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(255, 255, 255, 0.4) 0 4px 4px -3px, rgba(255, 255, 255, 0.25) 0 4px 2px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}


body {
  margin: 0;
}

#root {
  margin: 0 auto;
  display: flex;
  min-height: 100svh;
  flex-direction: column;
  box-sizing: border-box;
}

button:focus,
button:focus-visible {
  outline: var(--btn-outline-focus) 2px solid ;
}

input:focus,
input:focus-visible{
  outline: none;
}